body {
  background-image: url("./background1.png");
  background-size: cover;
}
.section1 {
  /* margin-top: -20%; */
  background-image: url("./background1.png");
  background-size: cover;
  min-height: 100vh;
}
.section2 {
  background-color: white;
  max-height: 80vh;
  display: flex;
  padding-top: 10%;
  max-width: 100vw;
  overflow: hidden;
}
.aboutus {
  text-align: center;
  margin-left: 10%;
  width: 50vw;
}
.aboutusimg {
  width: 475px;
  height: 475px;
}
.aboutus-img {
  width: 50vw;
  margin-left: 15%;
  /* position: relative; */
}

.title {
  color: white;
  text-align: center;
  /* margin-top: 20%; */
  padding-top: 10%;
  font-size: 7vw;
  font-family: Allerta Stencil;
  text-transform: uppercase;
}
/* .body {
  margin-top: 100px;
} */
.nav {
  height: 100px;
  display: flex;
  border-bottom: 2px solid white;
}
.button {
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  margin-left: 40%;
}
.about-des {
  padding-top: 20%;
  font-weight: bolder;
}
.about-cadre {
  width: 250px;
  height: 250px;
  position: relative;
  top: -50vh;
  left: 20vw;
}
a {
  padding-left: 40px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-decoration: none;
}
.leftpart {
  position: absolute;
  top: 7%;
  left: 10%;
}
.rightpart {
  position: absolute;
  right: 10%;
  top: 7%;
}
.nav-img {
  width: 170px;
  height: 170px;
  top: 20px;
  position: absolute;
  left: 42%;
  border: 2px solid white;
}
.team{
right: 42%;
 position: relative;
 font-weight: bolder;
}
.part3 {
  background-image: url("./background1.png");
  max-height: 80vh;
  display: flex;
  padding-top: 10%;
  max-width: 100vw;
  overflow: hidden;
}
.aboutus2 {
  text-align: center;
  margin-left: 10%;
  width: 50vw;
}
.aboutus-img2 {
  width: 50vw;
  margin-left: 10%;
}
.title2 {
  font-weight: bolder;
  padding-top: 20%;
  color: white;
  right: 50% ;
}
.part4 {
  background-image: url("./background1.png");
  max-height: 80vh;
  display: flex;
  padding-top: 10%;
  max-width: 100vw;
  overflow: hidden;
}

.aboutus-img3 {
  width: 50vw;
  margin-left: 10%;
  left: 50%;
}
.title4
{
  color: white;
  padding-top: 10%;
  max-width: 100vw;
  padding-top: 10%;
  padding-right: 10%;
}
.form{
  margin: 10px;
  width: 400px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}
.buton{
  background-color: #007BFF;
    Color:white;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 3px;
    cursor: pointer; 
    box-shadow: 0 8px 16px 0 grey;
    text-decoration: none;
}

@media screen and (max-width: 760px) {
  .nav-img {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 1%;
    border: 2px solid white;
  }
  a {
    padding-left: 10px;
    color: rgb(255, 255, 255);
    font-size: 10px;
    text-decoration: none;
  }
  .leftpart {
    position: static;
    top: 7%;
    left: 10%;
  }
  .links {
    margin-top: 10%;
    margin-left: 20%;
    display: flex;
  }
  .rightpart {
    position: static;
    right: 10%;
    top: 7%;
  }
  .section2 {
    display: inherit;
  }
  .aboutus {
    text-align: center;
    margin-left: 0%;
    width: 100vw;
  }
  .aboutusimg {
    width: 200px;
    height: 200px;
  }
  .aboutus-img {
    padding-top: 30%;
    width: 100vw;
    margin-left: 5%;
    /* position: relative; */
  }
  .about-des {
    padding-top: 5%;
    font-weight: bolder;
  }
  .part3 {
    display: initial;
    top: -100%;
  }
  .aboutus-img2 {
    padding-top: 30%;
    width: 100vw;
    margin-left: 5%;
}
.title2 {
  margin-top: -90%;
  margin-left: 36%;
  color: white;
}}